@charset "UTF-8";
/* < 770px Cambio de imágenes */
/* < 551 pop-up cookies */
/* < 1024 tamaño h1 y disposicion en columnas, mini imaganes seccion3, 2x2 en seccion4 */
* {
  box-sizing: border-box;
}

.header {
  background-color: rgb(84, 21, 84);
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
  height: 80px;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header__logo__image {
  width: 25px;
  height: 25px;
}

.main {
  font-family: Helvetica, sans-serif;
}
.main__section--purple {
  background-color: rgb(84, 21, 84);
}
.main__section--beige {
  background-color: rgb(244, 237, 228);
}
.main__s1 {
  display: flex;
  flex-flow: column;
  overflow: hidden;
  align-items: center;
}
.main__s1__intro {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px;
  color: white;
  text-align: center;
  max-width: 620px;
}
.main__s1__intro h1 {
  word-spacing: -5px;
  font-size: max(7.1vw, 2.9rem);
  font-weight: bold;
}
.main__s1__intro h1 span {
  color: rgb(236, 178, 46);
}
.main__s1__intro p {
  padding-bottom: 50px;
  padding-top: 10px;
  line-height: 1.2rem;
}
.main__s1__intro a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  background-color: white;
  font-weight: bold;
  padding: 20px;
  border-radius: 5px;
}
.main__s1__video {
  overflow: hidden;
  height: 336px;
  display: flex;
  padding-left: 200px;
}
.main__s1__video video {
  width: 700px;
  height: 400px;
}
.main__s2 {
  padding: 48px max(30px, 10vw);
  padding-bottom: 0px;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.main__s2 > p {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}
.main__s2 > div {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 100%;
  gap: max(20px, 3vw);
  max-width: 1000px;
}
.main__s2 > div img {
  -o-object-fit: none;
     object-fit: none;
}
.main__s3__attribute {
  display: flex;
  flex-flow: column;
  padding: 48px 0px;
}
.main__s3__attribute--left {
  padding-right: 5vw;
}
.main__s3__attribute--right {
  padding-left: 5vw;
  align-items: flex-end;
}
.main__s3__attribute div:last-child {
  max-width: 30rem;
  margin-left: 15px;
  margin-top: 30px;
}
.main__s3__attribute div:last-child h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 120%;
}
.main__s3__attribute div:last-child p {
  padding: 15px 0px;
  line-height: 150%;
  font-weight: bold;
}
.main__s3__attribute div:last-child a {
  line-height: 150%;
  text-decoration: none;
  color: rgb(18, 100, 163);
  font-weight: bold;
}
.main__s4__statitics {
  padding: 3rem 5vw 0px 5vw;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.main__s4__statitics h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  line-height: 120%;
}
.main__s4__statitics > p {
  padding: 15px 0;
  line-height: 150%;
  font-weight: bold;
  text-align: center;
}
.main__s4__statitics__links {
  display: flex;
  flex-flow: column;
  gap: 15px;
  width: 100%;
}
.main__s4__statitics__links a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 20px;
  border-radius: 5px;
  letter-spacing: 1px;
}
.main__s4__statitics__links a:first-child {
  background-color: rgb(84, 21, 84);
  color: white;
}
.main__s4__statitics__links a:last-child {
  border: 1px solid rgb(84, 21, 84);
  color: rgb(84, 21, 84);
}
.main__s4__statitics__percents {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 80px;
  gap: 2rem;
}
.main__s4__statitics__percents div {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.main__s4__statitics__percents div p:first-child {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(84, 21, 84);
}
.main__s4__statitics__percents div p:last-child {
  font-size: 0.8rem;
  text-align: center;
  padding-top: 10px;
  letter-spacing: 1px;
  line-height: 1.1rem;
}
.main__s4__example__video-container {
  overflow: hidden;
  border-radius: 0px 500px 500px 0px;
  margin: 0 1rem 2rem 0;
}
.main__s4__example__video-container video {
  width: 100%;
}
.main__s4__example__text {
  margin: 2rem;
}
.main__s4__example__text h3 {
  margin-bottom: 1rem;
  line-height: 125%;
  font-size: 1.3rem;
  font-style: italic;
  color: rgb(63, 63, 63);
}
.main__s4__example__text p:first-of-type {
  font-weight: bold;
  line-height: 150%;
}
.main__s4__example__text p:last-of-type {
  color: rgb(46, 46, 46);
  margin-bottom: 1rem;
}
.main__s4__example__text a {
  text-decoration: none;
  color: rgb(18, 100, 163);
  font-weight: bold;
}
.main__s4__footnote {
  padding: 0 1rem 2rem 1rem;
  text-align: center;
  font-size: 0.85rem;
  color: rgb(63, 63, 63);
  line-height: 130%;
}
.main__s6 {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 4rem 1rem;
  width: 100%;
  gap: 2rem;
  -webkit-clip-path: ellipse(105% 100% at 50% 0%);
          clip-path: ellipse(105% 100% at 50% 0%);
}
.main__s6 p {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  color: white;
}
.main__s6 div {
  display: flex;
  flex-flow: column;
  gap: 15px;
  width: 100%;
}
.main__s6 div a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 20px;
  border-radius: 5px;
  letter-spacing: 1px;
}
.main__s6 div a:first-child {
  background-color: white;
  color: rgb(84, 21, 84);
}
.main__s6 div a:last-child {
  border: 1px solid white;
  color: white;
}/*# sourceMappingURL=style.css.map */